name: ci
"on":
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                go-version: 1.25.4
            - name: Test
              run: go test -v ./...
            - name: Build
              run: go build -v ./...
