name: ci
"on":
  push:
    branches:
      - main
      - test
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.4
      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v6
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./...
